
.step_button{
    width: 60px;
    height: 30px;
}
.large_button{
    width: 150px;
    height: 30px;
}
.large_input{
    width: 200px;
    height: 20px;
}
.small_input{
    width: 60px;
    height: 20px;
}

